h2 {
    color: red;
    background-color: gold;
}
#hahaa{
    font-size: 14px;
    font-style: italic;
    color: white;
    background-color: aqua;
}
#kaka{
    font-style: italic;
    font-size: 14;
    color: gold;
    background-color: brown;
}