#vb{
   color: blueviolet;
   
}
h1{
    text-align: center;
}
#lenh{
    list-style:disc;
    font-weight: normal;
}
#lenh2{
    list-style: square;
    font-weight: normal;
}
ol{
    font-weight: bold;
}